<form method="post" action="/restaurant/submit_new">
    <h1>Add a new restaurant here</h1>
    <label>Name: </label>
    <input type="text" name="resName"><br>
    <label>Address: </label>
    <input type="text" name="resAddress"><br>
    <label>Category</label>
    <input type="text" name="resCat"><br>
    <button type="submit">Submit</button>
</form>