<html>
    <body>
        <ul>
            {{#each results}}
                <a href="restaurant/{{id}}">
                <li>{{name}}</li>
                </a>
            {{/each}}

        </ul>

    </body>
</html>